.App {
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.webname {
  font-size: 25px;
}

.Header-Butttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.webname {
  margin: 0px 10px 0px 10px;
  font-size: 25px;
}

main {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.Home-SlideP {
  margin-left: 13.5%;
}

.ArtGall-Slide {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.ArtGall-Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1%;
}

.ArtGall-Pictures {
  width: 400px;
  height: 350px;
}

.ArtGall-ProPic {
  width: 150px;
  height: 150px;
}

ul {
  list-style: none;
}

.ArtGall-Info {
  display: flex;
  max-width: 50%;
}

.popup {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.popup_content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}